<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Driving school</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="css/main.css">
</head>
<body class="body">
	<header class="header">
		<div class="nav">
			<div class="container">
				<div class="text">
					<div class="title"><a href="firstScreen.html">Driving School</a></div>
					<div class="users">
						<div class="exit"><a href="index.html">Курси</a></div>
						<div class="adminName">Admin</div>
						<div class="exit"><a href="login.html">Вийти</a></div>
						<form class="local"><input type="submit" value="EN"></form>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="content">
		<div class="container">
			<div class="row">
				<div class="contentUC">
					<div class="f">Ваші курси</div>
					<div class="user-courses">
						<div class="user-course">
							<div class="uc-name">
								<p>Course 1</p>
							</div>
							<div class="uc-progress">
								<p>Passed: 10</p>
								<p>Failed: 3</p>
							</div>
							<div class="uc-details">
								<a href="">Details</a>
							</div>
						</div>
						<div class="user-course">
							<div class="uc-name">
								<p>Course 1</p>
							</div>
							<div class="uc-progress">
								<p>Passed: 10</p>
								<p>Failed: 3</p>
							</div>
							<div class="uc-details">
								<a href="">Details</a>
							</div>
						</div>
						<div class="user-course">
							<div class="uc-name">
								<p>Course 1</p>
							</div>
							<div class="uc-progress">
								<p>Passed: 10</p>
								<p>Failed: 3</p>
							</div>
							<div class="uc-details">
								<a href="">Details</a>
							</div>
						</div>
						<div class="user-course">
							<div class="uc-name">
								<p>Course 1</p>
							</div>
							<div class="uc-progress">
								<p>Passed: 10</p>
								<p>Failed: 3</p>
							</div>
							<div class="uc-details">
								<a href="">Details</a>
							</div>
						</div>
						<div class="user-course">
							<div class="uc-name">
								<p>Course 1</p>
							</div>
							<div class="uc-progress">
								<p>Passed: 10</p>
								<p>Failed: 3</p>
							</div>
							<div class="uc-details">
								<a href="">Details</a>
							</div>
						</div>
						<div class="user-course">
							<div class="uc-name">
								<p>Course 1</p>
							</div>
							<div class="uc-progress">
								<p>Passed: 10</p>
								<p>Failed: 3</p>
							</div>
							<div class="uc-details">
								<a href="">Details</a>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<footer class="footer">
		<div class="container">
			<div class="footContent">
				<div class="fText">Курсова робота - 2021</div>
				<div class="fText"><b>Компоненти програмної інженерії - 3</b></div>
			</div>
		</div>
	</footer>
</body>
</html>