<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Driving school</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="css/main.css">
</head>
<body class="body">
	<header class="header">
		<div class="nav">
			<div class="container">
				<div class="text">
					<div class="title">Driving School</div>
					<div class="users">
						<div class="exit"><a href="index.html">Курси</a></div>
						<div class="adminName">Admin</div>
						<div class="exit"><a href="login.html">Вийти</a></div>
						<form class="local"><input type="submit" value="EN"></form>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="content">
		<div class="container">
			<div class="row">
				<div class="contentRow">
					<div class="contentPart">
						<div class="inside">
							<div class="f">
								Курс 1
							</div>
							<div class="search">
								<form action="" class="find">
									<div class="lessonsStat">
										<p>Відвідано занять: 14</p>
										<p>Пропущено занять: 5</p>
										<p>Залишилось занять: 21</p>
									</div>
									<div class="buttonAll">
										<input type="number" min="1" max="5" placeholder="Оцінити курс">
									</div>
								</form>
								<div class="showSearchRes">
									<div class="res">
										<div class="accordion">
											<p class="pesP">Практика</p>
											</div>
										<div class="panel">
											<p>Інструктор: Іванов І. І.</p>
											<p>Оцінка: 4.5</p>
											<p>Штраф: 1</p>
											<p>Зауваження: Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Totam tenetur cum labore vitae numquam esse omnis dicta voluptatum nihil reiciendis, perspiciatis debitis dolorum libero sequi ad accusantium nisi. Numquam, nostrum.</p>
										</div>
									</div>
									<div class="res">
										<div class="accordion">
											<p class="pesP">Лекція</p>
											</div>
										<div class="panel">
											<p>Інструктор: Петров П. П.</p>
											<p>Оцінка: 4.5</p>
											<p>Оцінка: 1.5</p>
											<p>Зауваження: Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Totam tenetur cum labore vitae numquam esse omnis dicta voluptatum nihil reiciendis, perspiciatis debitis dolorum libero sequi ad accusantium nisi. Numquam, nostrum.</p>
										</div>
									</div>
									<div class="res">
										<div class="accordion">
											<p class="pesP">Практика</p>
											</div>
										<div class="panel">
											<p>Інструктор: Іванов І. І.</p>
											<p>Оцінка: 4.5</p>
											<p>Штраф: 0.5</p>
											<p>Зауваження: Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Totam tenetur cum labore vitae numquam esse omnis dicta voluptatum nihil reiciendis, perspiciatis debitis dolorum libero sequi ad accusantium nisi. Numquam, nostrum.</p>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<footer class="footer">
		<div class="container">
			<div class="footContent">
				<div class="fText">Курсова робота - 2021</div>
				<div class="fText"><b>Компоненти програмної інженерії - 3</b></div>
			</div>
		</div>
	</footer>
	<script src="js/main.js"></script>
</body>
</html>