<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="#{course.info.page.title}"></title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" rel="stylesheet">
	<link th:replace="/common/fragment :: css">
</head>
<body class="body">
	<header th:replace="/common/fragment :: header" class="header">
	</header>
	<section class="content">
		<div class="container">
			<div class="row">
				<div class="contentRow">
					<div class="contentPart">
						<div class="inside">
							<div class="f" th:text="${courses.courseName}">
							</div>
							<div class="search">
								<form action="" class="find">
									<div class="lessonsStat">
										<p th:text="#{course.info.page.attended.lessons.value} + ${courses.attendedLessonsAmount}"></p>
										<p th:text="#{course.info.page.missed.lessons.value} + ${courses.missedLessonsAmount}"></p>
										<p th:text="#{course.info.page.total.lessons.value} + ${courses.lessonsAmount}"></p>
									</div>
									<div class="buttonAll">
										<input type="number" min="1" max="5" th:placeholder="#{course.info.page.rate.placeholder}">
									</div>
								</form>
								<div class="showSearchRes">
									<div class="res" th:each="training:${courses.getTrainings()}">
										<div class="accordion">
											<p class="pesP" th:text="${training.event.name}"></p>
										</div>
										<div class="panel">
											<p th:text="#{course.info.page.mark.value} + ${training.mark}"></p>
											<p th:text="#{course.info.page.mistake.value}"></p>
											<div class="minuses" th:each="mistake:${training.mistakes}">
												<p class="note" th:text="${'• ' + mistake.name + ': ' + mistake.description}"></p>
												<p class="penalty" th:text="#{course.info.page.penalty.value} + ${mistake.penaltyPoint}"></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<footer th:replace="/common/fragment :: footer" class="footer"></footer>
	<script th:replace="/common/fragment :: js"></script>
</body>
</html>