<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="#{instructor.student.evaluation.page.title}"></title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" rel="stylesheet">
	<link th:replace="/common/fragment :: css">
</head>
<body class="body">
	<header th:replace="/common/fragment :: header" class="header">
	</header>
	<section class="content">
		<div class="container">
			<div class="row">
				<div class="contentRow">
					<div class="contentPart">
						<div class="inside">
							<div class="f" th:text="${userCourseDTO.user.name + ' ' + userCourseDTO.user.surname}">
							</div>
							<div class="userStat">
								<div class="userImg"><img th:src="@{/img/photo1.jpg}"/> alt=""></div>
								<div class="userInfo">
									<p th:text="#{instructor.student.evaluation.page.info}"></p>
									<p th:text="#{instructor.student.evaluation.page.user.name} + ${userCourseDTO.user.name}"></p>
									<p th:text="#{instructor.student.evaluation.page.user.surname} + ${userCourseDTO.user.surname}"></p>
									<p th:text="#{instructor.student.evaluation.page.user.age} + ${userCourseDTO.user.age} + #{instructor.student.evaluation.page.user.age.suffix}"></p>
								</div>
								<form class="userDet" method="get" th:action="@{/instructor/user/{id}/courses(id=${userCourseDTO.user.id})}">
									<input type="submit" th:value="#{instructor.student.evaluation.page.all.courses}">
								</form>
							</div>
							<div class="search">
								<form th:action="@{/instructor/user/{id}/evaluate(id=${userCourseDTO.getUser().id})}" th:object="${userEvaluationDTO}"
									  method="post" class="mark">
									<div class="selects">
										<select name="courseId" class="events" required>
											<option th:each="course: ${userCourseDTO.user.attendances}"
													th:selected="${userEvaluationDTO.courseId != null && userEvaluationDTO.courseId.equals(course.course.id)}"
													th:value="${course.course.id}" th:text="${course.course.name}"></option>
										</select>
										<select name="eventId" class="events" required>
											<option value="-1" th:text="#{instructor.student.evaluation.page.missed.event}"></option>
											<option th:each="event: ${userCourseDTO.events}"
													th:selected="${userEvaluationDTO.eventId != null && userEvaluationDTO.eventId.equals(event.id)}"
													th:value="${event.id}" th:text="${event.name}"></option>
										</select>
										<div class="mist">
											<select name="mistakeId" class="events third" required>
												<option th:each="mistake: ${userCourseDTO.mistakes}" th:value="${mistake.id}" th:text="${mistake.name}"></option>
											</select>
											<input type="submit" name="action" value="+">
										</div>
									</div>
									<div class="buttonAll">
										<input type="submit" name="action" th:value="#{instructor.student.evaluation.page.submit.action}">
									</div>
								</form>
								<div class="showSearchRes">
									<form th:action="@{/instructor/user/{id}/removeMistake(id=${userCourseDTO.getUser().id})}" method="post"
										  th:if="${!mistakeList.isEmpty()}" th:each="mistake: ${mistakeList}" class="res">
										<div class="student">
											<p class="pesP" th:text="${mistake.name}"></p>
											<input type="hidden" th:value="${mistake.id}" name="mistakeId">
											<input type="submit" th:value="#{instructor.student.evaluation.page.remove.mistake}">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="/common/fragment :: footer" class="footer"></footer>
	<script th:replace="/common/fragment :: js"></script>
</body>
</html>