<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{instructor.user.search.page.title}"></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" rel="stylesheet">
    <link th:replace="/common/fragment :: css">
</head>
<body class="body">
<header th:replace="/common/fragment :: header" class="header">
</header>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="contentRow">
                <div class="contentPart">
                    <div class="inside">
                        <div class="f" th:text="#{instructor.user.search.page.title}">
                        </div>
                        <div class="search">
                            <form action="/instructor" method="get" class="find">
                                <div class="byName">
                                    <input type="text" th:placeholder="#{instructor.user.search.page.form.placeholder}"
                                           class="enterName" name="searchField">
                                    <input type="submit" th:value="#{instructor.user.search.page.form.value}">
                                </div>
                            </form>
                            <div class="showSearchRes">
                                <form class="res" method="get" th:each="student: ${students}"
                                      th:action="@{/instructor/user/{id}(id=${student.id})}">
                                    <div class="student">
                                        <p class="pesP" th:text="${student.name + ' ' + student.surname}"></p>
                                        <input type="submit" th:value="#{instructor.user.page.redirect}">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="/common/fragment :: footer" class="footer"></footer>
<script th:replace="/common/fragment :: js"></script>
</body>
</html>