<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Driving school</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="css/main.css">
</head>
<body class="body">
	<header class="header">
		<div class="nav">
			<div class="container">
				<div class="text">
					<div class="title">Driving School</div>
					<div class="users">
						<div class="exit"><a href="index.html">Курси</a></div>
						<div class="adminName">Admin</div>
						<div class="exit"><a href="login.html">Вийти</a></div>
						<form class="local"><input type="submit" value="EN"></form>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="content">
		<div class="container">
			<div class="row">
				<div class="contentRow">
					<div class="contentPart">
						<div class="inside">
							<div class="f">
								Жисси Тоад
							</div>
							<div class="userStat">
								<div class="userImg"><img src="img/photo1.jpg" alt=""></div>
								<div class="userInfo">
									<p>Дані про студента:</p>
									<p>Ім'я: Жисси</p>
									<p>Прізвище: Тоад</p>
									<p>Вік: 19 р.</p>
								</div>
							</div>
							<div class="search">
								<form action="" class="mark">
									<div class="selects">
										<select class="events">
											<option value="ev1">Курс 1</option>
											<option value="ev2">Курс 2</option>
										</select>
										<select class="events">
											<option value="ev1">Івент 1</option>
											<option value="ev2">Івент 2</option>
										</select>
										<div class="mist">
											<select class="events third">
												<option value="ev1">Помилка 1</option>
												<option value="ev2">Помилка 2</option>
											</select>
											<input type="submit" value="+">
										</div>

										<input type="number" min="1" max="5" placeholder="Бал">
									</div>
									<div class="buttonAll">
										<input type="submit" value="Поставити оцінку">
									</div>
								</form>
								<div class="showSearchRes">
									<div class="res">
										<div class="student">
											<p class="pesP">Помилка 1</p>
										</div>
									</div>
									<div class="res">
										<div class="student">
											<p class="pesP">Помилка 2</p>
										</div>
									</div>
									<div class="res">
										<div class="student">
											<p class="pesP">Помилка 3</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<footer class="footer">
		<div class="container">
			<div class="footContent">
				<div class="fText">Курсова робота - 2021</div>
				<div class="fText"><b>Компоненти програмної інженерії - 3</b></div>
			</div>
		</div>
	</footer>
	<script src="js/main.js"></script>
</body>
</html>