*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 18px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea, select, option{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	
	font-family: 'Comfortaa', sans-serif;
}
.body{
	display: flex;
	flex-direction: column;
	background: url('../img/bg1.jpg') center/cover no-repeat fixed;
}
.fs-body{
	display: flex;
	flex-direction: column;
	background: url('../img/fsBg4.jpg') center/cover no-repeat fixed;
}
.container{
	margin: 0 auto;
	padding-left: 0px;
	padding-right: 0px;
	width: 1170px;
}

input[type="submit"]{
	cursor: pointer;
}

/*---Header---*/

.nav{
	height: 60px;
    color: #FFFFFF;
    background: #24221E;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 2;
}
.nav .container{
	height: 100%;
}
.text{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}
.title{
	font-family: Quicksand;
	display: inline-flex;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	transition: all 0.5s ease;
}
.title a{
	color: white;
	text-decoration: none;
}
.users{
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: 16px;
}
.users a{
	color: white;
	text-decoration: none;
	font-weight: 300;
}
.adminName{
	border-right: 2px solid white;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 300;
	transition: all 0.5s ease;
}
.exit{
	padding-left: 10px;
	padding-right: 10px;
	border-right: 2px solid white;
	transition: all 0.5s ease;
}
.local input[type="submit"] {
	margin-left: 10px;
	font-size: 14px;
	width: 35px;
	height: 35px;
	border: 3px solid white;
	border-radius: 50%;
}
.userDetails{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 20px 0 -15px 0;
	width: 100%;
	font-weight: bold;
}
.aboutUser{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.aboutBalance{
	display: flex;
	align-items: flex-end;
}
.aboutBalance input[type="submit"]{
	width: 40px;
	margin: 0 0 0 10px;
	text-align: center;
}
.aboutUser span, .aboutBalance span{
	margin: 0 0 10px 0;
}
/*--------------------*/

/*---Main---*/
.content{
	display: flex;
	flex: 1 1 auto;
}
.content-fs{
	display: flex;
	flex: 1 1 auto;
}
.content .container{
	background: rgba(255, 236, 153, 0.76);
	padding: 20px 0 50px 0;

}
.row{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100%;
    width: 100%;
}
.row-autorize{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
    width: 100%;
}
.content-fs .container .row{
	justify-content: flex-start;
}
.contentRow{
	display: flex;
	flex-direction: column;
	align-items: center;
	/*height: 100%;*/
	width: 95%;
}
.row-autorize .contentRow{
	width: 100%;
}
.contentUC{
	display: flex;
	flex-direction: column;
	align-items: center;
	/*height: 100%;*/
	width: 95%;

}
.user-courses{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 -33px 0 0;
}
.user-course{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 33px 30px 0;
	width: 22%;
	background: white;
	/*border: 1px solid #F76E1E;*/
	border-radius: 10px;
	overflow: hidden;
	height: 250px;
	box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.25);
	transition: all 0.5s ease;
}
.uc-name{
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	text-align: center;
	height: 33.333%;
	font-size: 24px;
	text-shadow: 1px 1px 2px darkgoldenrod;
	border-bottom: 1px solid #7B715D;
}
.uc-progress{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0 0 0 3%;
	font-weight: 300;
	font-size: 16px;
	height: 33.333%;
	flex: 1 1 auto;
}
.uc-progress p{
	padding: 0 0 3% 0;
}
.uc-progress p:last-child{
	padding: 0;
}
.uc-details{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #7B715D;
	height: 33.333%;
	transition: all 0.5s ease;
	cursor: pointer;
}
.contentPart{
	display: flex;
	width: 100%;
	align-self: center;
}
.inside{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.intro{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 47%;
}
.h-main{
	font-weight: bold;
	font-size: 55px;
	line-height: 70px;
	margin: 0 0 28px 0;
}
.h-small{
	font-weight: 300;
	font-size: 24px;
	line-height: 30px;
	margin: 0 0 28px 0;
}
.f{
	display: flex;
    align-self: center;
    padding: 28px 0 28px 0;
    font-size: 40px;
    font-weight: 700;
    color: #24221E;
}
.search{
	width: 100%;
	display: flex;
    flex-direction: column;
}
.selectSort{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.selectSort p{
	width: 100%;
	margin: 0 0 10px 0;
}
select{
	background: white;
	height: 40px;
	padding: 0 0 0 1%;
	border: 1px solid #24221E;
	border-radius: 10px;
}
.selectSort select{
	width: 30%;
	margin: 0 30px 20px 0;
}
.selectSort .nm{
	width: 33%;
}
.nm input[type="submit"]{
	width: 100%;
}
.selectSort.sel2 select{
	margin: 0 15px 20px 0;
}
.buttonsPages{
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 20px 0 0 0;
}
.buttonsPages button{
	margin: 0 15px 0 0;
}
.buttonsPages button:last-child{
	margin: 0px;
}
.find{
	display: flex;
    flex-direction: row;
	width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}
.mark{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.lessonsStat{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0 30px 30px 0;
}
.lessonsStat p{
	padding: 0 0 15px 0;
}
.lessonsStat p:last-child{
	padding: 0;
}
.byName{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 0 0 20px 0;
}
input{
	height: 40px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid #24221E;
	border-radius: 10px;
	padding-left: 1%;
}
input[type="submit"]{
	padding: 0;
}
.buttonRate{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}
.buttonRate input[type="number"]{
	width: 150px;
	height: 30px;
	margin: 0 0 10px 0;
}
.buttonRate input[type="submit"]{
	width: 150px;
	height: 30px;
	font-size: 14px;
}
.byName input[type="text"]{
	width: 93%;
	padding-left: 1%;
	border-radius: 10px 0 0 10px;
}
.byName input[type="submit"]{
	width: 7%;
	border-radius: 0 10px 10px 0;
}
input[type="submit"]{
	width: 17%;
	height: 40px;
	background: #24221E;
	color: white;
	font-weight: bold;
	font-size: 18px;
	position: relative;
	top: 0px;
	box-shadow: 0px 5px 0px rgba(36, 34, 30, 0.25);
	transition: all 0.5s ease;
}
.res input[type="submit"]{
	background: #F76E1E;
	border: none;
	width: 15%;
}
.res input[disabled="disabled"]{
	background: #FE9A60;
}
.byName input[type="submit"]{
	background: #24221E;
	box-shadow: none;
}
.buttonAll{
	display: flex;
	justify-content: center;
}
.go-to .buttonAll{
	justify-content: flex-start;
	height: 60px;
}
.buttonAll input[type="submit"]{
	width: 300px;
	height: 40px;
	background: #24221E;
	color: white;
	margin: 0 0 20px 0;
}
.go-to .buttonAll input[type="submit"]{
	height: 60px;
}
.showSearchRes{
	background: rgba(255, 255, 255, 1);
	border: 1px solid #24221E;
	border-radius: 10px;
	padding: 0.5% 1.5% 1.5% 1.5%;
	height: 350px;
	overflow: auto;
}
.showSearchRes p{
	line-height: 29px;
}
.res{
	display: flex;
	flex-direction: column;
	/*margin: 0 0 20px 0;*/
	padding: 10px 0 10px 0;
	border-bottom: 5px dotted #F76E1E;
}
.student{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px 10px 10px;
}
.accordion{
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*margin: 0 0 20px 0;*/
	padding: 10px 10px 10px 10px;
	cursor: pointer;
	transition: 0.4s;
}
.accordion.active, .accordion:hover{
	font-weight: bold;
	text-shadow: 1px 1px 2px darkgoldenrod;
}
.accordion.active{
	border-top: 1px solid #F76E1E;
	border-right: 1px solid #F76E1E;
	border-left: 1px solid #F76E1E;
	border-radius: 10px 10px 0 0;
	/*background: rgba(255, 236, 153, 1);*/
	background: rgba(247, 110, 30, 0.2);
}
.panel{
  	background-color: white;
  	display: none;
  	font-size: 14px;
  	padding: 0 10px 0 10px;
  	border: 1px solid #F76E1E;
  	border-radius: 10px;
  	border-radius: 0 0 10px 10px;
  	font-weight: bold;
}
.minuses{
	display: flex;
	width: 100%;
	align-items: flex-start;
	justify-content: space-between;

}
.note{
	width: 90%;
	font-weight: 300;
}
.penalty{
	/*width: 15%;*/
	display: inline-block;
	justify-content: flex-end;
}
.panel.show{
  	display: block;
}

.res:last-child{
	padding-bottom: 0;
	border-bottom: none;
	margin: 0;
}
.pesP{
	width: 80%;
}
.pesP.categ{
	width: 5%;
}
.pesS{
	text-align: end;
	width: 15%;
}
.login{
	display: inline-flex;
    flex-direction: column;
}
.login input{
	margin: 0 0 15px 0;
	width: 350px;
	padding-left: 1%;
}
.register{
	padding: 10px 0 5px 0;
	font-weight: 300;
}
.contentRow a{
	color: #24221E;
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
	text-shadow: 1px 1px 2px darkred;
}
.uc-details a {
	font-weight: bold;
	color: white;
	text-decoration: none;
	padding: 30px 90px;
}
.selects{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 0 0 20px 0;
}
.selects input[type="number"]{
	width: 24%;
	border: 1px solid #24221E;
    border-radius: 10px 10px 0 0;
}
.events{
	width: 24%;
	height: 40px;
	border: 1px solid #24221E;
    border-radius: 10px 10px 0 0;
    padding-left: 1%;
    transition: all 0.5s ease;
}
.events.third{
	width: 90%;
	border-radius: 10px 0 0 0;
    padding-left: 0;
}
.mist{
	display: flex;
	align-content: flex-start;
	width: 24%;
}
.mist input[type="submit"]{
	border-radius: 0 10px 0 0;
	color: #24221E;
	box-shadow: none;
	background: white;
	width: 40px;
	transition: all 0.5s ease;
}
.userStat{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 0 0 30px 0;
}
.userImg{
	flex: 0 0 15%;
	position: relative;
	border: 1px solid #24221E;
	overflow: hidden;
	border-radius: 10px;
}
.userImg img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}
.userDet{
	display: flex;
	width: 20%;
	align-items: flex-end;
}
.userDet input[type="submit"]{
	width: 100%;
}
.userInfo{
	width: 60%;
	line-height: 120%;
}
.userInfo p{
	padding: 0 0 10px 0;
}
.userInfo p:first-child{
	font-weight: bold;
}
.userInfo p:last-child{
	padding: 0;
}
.errorContent{
	font-size: 20px;
	line-height: 24px;
	width: 100%;
}
.errorContent p{
	padding: 0 0 10px 40px;
	background: url('../img/error.png')top left no-repeat;
}
.containerTable {
	margin: 0 auto;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
	background: rgba(255, 236, 153, 0.76);
	padding: 20px 0 50px 0;
}
table{
	border-collapse: collapse;
	background: rgba(255, 255, 255, 0.55);
	margin: 0 0 30px 0;
}
table input[type="submit"]{
	/*border-spacing: 0px 30px;*/
	width: 40px;
	margin: 10px 0 10px 0;
	font-size: 14px;
	box-shadow: none;
}
th {
	width: 189px;
	padding: 10px 0px;
	vertical-align: center; /* Выравнивание по верхнему краю ячеек */
	border: 1px solid #24221E;
}
.inputsTable{
	display: flex;
	width: 100%;
	justify-content: center;
}
button{
	height: 40px;
	width: 40px;
	background: #24221E;
	border-radius: 10px;
	margin: 10px 0 10px 0;
	color: white;
	font-size: 14px;
	transition: all 0.5s ease;
}
.inputsTable button{
	margin-right: 15px;
}
.inputsTable button:last-child{
	margin-right: 0px;
}
.balance{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 70px 0 0 0;
}
.balance input{
	width: 160px;
	margin: 0 0 15px 0;
}
.inputs{
	position: relative;
}
.errLog{
	display: flex;
	align-items: center;
	width: 300px;
	height: 40px;
	border: 1px dashed #F76E1E;
	position: absolute;
	top: -51px;
	right: -271px;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	padding: 0 0 0 5px;
}
.errLog.long{

	right: -140px;
}
.errLog:after{
	content: '';
	position: absolute;
	left: 5px;
	bottom: -20px;
	border: 10px solid transparent;
	border-top: 10px solid #F76E1E;
}
.errLog p{
	font-size: 12px;
	padding: 0 0 0 5%;
	background: url('../img/error.png') top left/ auto 100% no-repeat;
}
.newMistake {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}
.inputsTop{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.newMistake textarea{
	width: 100%;
	border: 1px solid #24221E;
	border-radius: 10px;
	padding: 1%;
	line-height: 18px;
	margin: 0 0 15px;
}

.newMistake .inputs{
	width: 30%;
}
.inputsTop .inputs{
	width: 100%;
}
.newMistake input[type="text"]{
	width: 100%;
	margin: 0 0 15px;
}
.newMistake input[type="number"]{
	width: 100%;
	margin: 0 0 15px;
}
.newMistake input[type="submit"]{
	width: 30%;
	margin: 15px 0;
}
.newCourse {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}
.inputs.add60{
	width: 60%;
}
.inputs.add10{
	width: 10%;
}
.newCourse select{
	width: 10%;
}
.newCourse input{
	width: 100%;
}
.newCourse input[type="submit"]{
	width: 20%;
	margin: 15px 0 0 0;
}

/*--------------------*/

/*---Hovering---*/
.adminName a:hover, .exit:hover, .exit a:hover, .contentRow a:hover{
	text-decoration: underline;
	color: #FA6417;
}
input[type="submit"]:hover, input[type="submit"]:hover{
	background: #F76E1E;
	border: none;
	box-shadow: 0px 3px 0px rgba(36, 34, 30, 0.25);
	top: 2px;
}
.byName input[type="submit"]:hover{
	top: 0px;
	box-shadow: none;
	background: #F76E1E;
	border: none;
}
.byName.courseDet input[type="text"]{
	border-radius: 0px;
}
.byName.courseDet input[type="text"]:first-child{
	border-radius: 10px 0 0 10px;
}
.res input[type="submit"]:hover{
	background: #24221E;
	border: none;
	box-shadow: 0px 3px 0px rgba(36, 34, 30, 0.25);
	top: 2px;
}
.res input[disabled="disabled"]:hover{
	cursor: default;
	background: #FE9A60;
	border: none;
	box-shadow: 0px 5px 0px rgba(36, 34, 30, 0.25);
	top: 0px;
}
.local input[type="submit"]:hover{
	border: 3.1px solid #FA6417;
	color: #FA6417;
	background: none;
	top: 0;
}
textarea:focus, select:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, input[type="number"]:focus{
	border: 2px solid #24221E;
	box-shadow: 2px 2px 7px 5px rgba(49, 43, 43, 0.1);
}
.user-course:hover{
    box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.3);
}
.uc-details:hover{
	background: #F76E1E;
	font-size: 20px;
}
.mist input[type="submit"]:hover{
	border: 2px solid #24221E;
	box-shadow: 2px 2px 7px 5px rgba(49, 43, 43, 0.1);
	background: white;
	top: 0;
}

button:hover{
	background: #F76E1E;
}
table input[type="text"]:focus{
	box-shadow: none;
}
.local button:hover{
	border: 3px solid #F76E1E;
	background: none;
	color: #F76E1E;
}
/*--------------------*/

/*---Footer---*/
.footer{
	display: flex;
    height: 50px;
    flex: 0 0 auto;
    color: #FFFFFF;
    background: #24221E;
    align-items: center;
}

.footContent{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.fText{
	display: inline-flex;
	align-self: center;
	font-weight: 300;
	font-size: 14px;
}
/*--------------------*/
div#wrapper-snow {
	background: none;
 	
 	height: 100%;
 	width: 100%;
}
#wrapper-snow .container{
	height: 100%;
}
.local button{
	border: 3px solid white;
	background: none;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	margin-left: 10px;
	font-weight: bold;
}